p {
    height: 100%; 
    margin: 0;
    font-family: Verdana;
    font-size: 17px;
  }
  
/* Style tab links */
.tablink {
    background-color: #778899;
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.33%;
}
  
.tablink:hover {
    background-color: #777;
}
  
  /* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
}

#person {height: 50%; width: 50%}  
#about {background-color: rgb(240, 248, 101);}
#code {background-color: rgb(0, 255, 128);}
#fun {background-color: rgb(128, 133, 255);}
